<div class="bg-white">
  <div class="flex flex-col h-screen border">
    <%= render 'shared/navbar' %>

    <div class="flex flex-col justify-center items-center sm:px-6 lg:px-8 h-full gap-10">
      <h2 class="mt-6 text-center text-2xl font-bold leading-9 tracking-tight text-gray-900">Instrucciones de recuperación</h2>
      <p class=" text-center text-sm sm:text-base">
        En el siguiente campo puedes ingresar tu correo electrónico para que puedas recuperar tu contraseña. <br>
        Revisa tu bandeja de entrada donde recibirás el link de recuperación.
      </p>

      <%= form_with(model: @instructions, url: instructions_send_path, method: :post, class: 'w-full md:w-7/12 flex flex-col gap-5', data: { turbo: false }) do |f| %>
        <div class="flex flex-col w-full items-start gap-1 mb-5">
          <%= f.label :email, 'Correo electrónico:', class: 'label-style ' %>
          <%= f.email_field :email, class: "input-style #{error_border(@instructions.errors.include?(:email))}" %>
          <% if @instructions.errors.include?(:email) %>
            <%= render 'shared/error_input', { object: @instructions, attribute: :email } %>
          <% end %>
        </div>

        <div class="flex flex-col w-full items-center mt-10">
          <%= f.submit "Enviar instrucciones", class: 'flex w-full justify-center rounded-md bg-red-600 px-3 py-1.5 text-sm font-semibold leading-6 text-white shadow-sm hover:bg-red-500 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-red-600' %>
        </div>
      <% end %>
    </div>
  </div>
</div>
